.dontwantpadding {
  margin: 0 !important;
 padding: 0 !important;
}

.boader {
  color: rgb(0, 0, 0);
}

.cardsize {
  width:100%;  height: 150px; 
}

.cardfont {
  padding-top: 35px; padding-bottom: 35px; 
}

@media only screen and (min-device-width: 768px) {

  .cardsize {
    width:100%;  height: 250px; 
  }

  .cardfont {
    padding-top: 80px; padding-bottom: 80px; 
  }

}

.cardsize2 {
  width:100%;  height: 150px; 
}

.cardfont2 {
  padding-top: 30px; padding-bottom: 30px; 
}

@media only screen and (min-device-width: 768px) {

  .cardsize2 {
    width:100%;  height: 300px; 
  }

  .cardfont2 {
    padding-top: 90px; padding-bottom: 90px; 
  }

}

.cardsize3 {
  width:100%;  height: 150px; 
}

.cardfont3 {
  padding-top: 9px; padding-bottom: 35px; 
}

@media only screen and (min-device-width: 768px) {

  .cardsize3 {
    width:100%;  height: 300px; 
  }

  .cardfont3 {
    padding-top: 90px; padding-bottom: 90px; 
  }

}

  
  .jumbotron{margin-bottom: 0;}

  .parallax-window {
    min-height: 300px;
    background: transparent;

  }

.nav-link {color: #FFCC33;}
.nav-link:hover {color: rgb(255, 255, 255);}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: rgb(0, 0, 0);
  background-color: #FFCC33;
}

.number {
  padding-right: 5px;
}

.blu_b {color: #063868; font-weight: bold; }